{% extends "layout.html" %}

{% block title %}
    PASSWORD MANAGER
{% endblock %}

{% block main %}
    <h1>This is your password manager</h1>
    <h1>Password Generator</h1>

    <div class="mb-3 border p-4">
        {% if password %}
            <div class="generated-password">{{ password }}</div>
        {% endif %}
    </div>
    
    <form action="/passwords" method="POST">
        <!-- {{ form.csrf_token }} -->
        <div class="container">

            <div class="mb-3">
                <label for="uppercase">A-Z</label>
                <input checked type="checkbox" id="uppercase" name="uppercase" onchange="updateCheckboxState('uppercase')">
            </div>
            
            <div class="mb-3">
                <label for="lowercase">a-z</label>
                <input checked type="checkbox" id="lowercase" name="lowercase" onchange="updateCheckboxState('lowercase')">
            </div>
            
            <div class="mb-3">
                <label for="numbers">0-9</label>
                <input checked type="checkbox" id="numbers" name="numbers" onchange="updateCheckboxState('numbers')">
            </div>
            
            <div class="mb-3">
                <label for="symbols">!@#$%^&*()_+</label>
                <input checked type="checkbox" id="symbols" name="symbols" onchange="updateCheckboxState('symbols')">
            </div>
            
            <div class="mb-3">
                <label for="min_max">Password Length
                    <span id="min_max_display">8</span>
                </label>
                <input type="range" id="slider"  min="6" max="25" name="min_max" value="8" oninput="updateSliderValue(value)">
            </div>
            
            <button class="btn btn-primary" type="submit">Generate Password</button>

        </div>
    </form>
            
{% endblock %}
            